.form__container {
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .form__container {
    width: 100%;
  }
}
.align__center {
  text-align: center;
}
.align__right {
  text-align: right;
}
.padding__vertical {
  padding-left: 2em;
  padding-right: 2em;
}
