.address__card {
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.5em;
  min-height: 20em;
  min-width: 25em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
